@font-face{font-family:Myriad_set_pro_Thin;src:local(Myriad_set_pro_Thin),url(../fonts/myriad-set-pro_text.woff)}
*{
  box-sizing:border-box;
  font-family: -apple-system ,BlinkMacSystemFont ,'Segoe UI', "Myriad_set_pro_Thin","SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
}

html, body{font-size:15px;margin:0;padding:0;}


.content-container{width:740px;margin:0 auto;padding:14px 0;}

.content{background-color: #F7F9FB}




#wrap1{background-color: #F7F9FB}
.head{height:53px;padding:0 21px;border-bottom:1px solid #DDDFE1;background-color: #FFF;}
.float_left{float:left;}
.float_right{float:right;}
.head-link{float:left;padding:15px 11px 15px;}
.head-logo{position: relative;right:7px;top: 0px;}
a{text-decoration: none;color: #607d8b}
.text_field{
        border: 1px solid #DDD;
    background-color: #F7F9FB;
    background-color: #F7F9FB;
    padding: 12px 9px 13px 31px;
    margin-top: 12px;
    background-image: url('/images/icons/magnify (3).png');
    background-repeat: no-repeat;
    background-position: 8px 4px;
    border: 1px solid #DDD;
    width: 100%;
    height: 15px;
    line-height: 24px;
    border-radius: 3px;

    }

.footer{    text-align: center;
    padding: 25px 0 24px;
    border-top: 1px solid #DDDFE1;
    background-color: #FFF;
    line-height: 34px;
}
