
.head-center{width:143px;margin:0 auto;}

.recipe-delete__wrap{    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 5px;
    background: #000;
    cursor: pointer;
    margin: 30px 18px 0 0;opacity:0.47;transition:opacity 0.31s ease}
.recipe-delete__wrap:hover{opacity:1;}   



.recipe{width:246.666666667px;float: left;padding:24px 0;}
.recipe-wrap{padding:7px 17px}
.recipe-photo{width: 100%}
.recipe-photo__info__wrap{text-align: center;margin-top:7px;margin-bottom:7px;}
.recipe-photo__title_text{font-weight: bold;}
.recipe-photo__text{padding:3px 0 3px}
.recipe-photo__author_link{border-bottom:1px dashed #607d8b	}
.recipe-photo__text_date_created{color:#808080}


